name: Deploy phess web stack

on:
  push:
    paths:

    branches:
      - main

env:
  CDK_DEFAULT_ACCOUNT: ${{ secrets.AWS_ACCOUNT_ID }}
  CDK_DEFAULT_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  cdk_deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        python-version: [3.10.x]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install AWS CDK
        run: npm install -g aws-cdk
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${ secrets.AWS_DEPLOY_ROLE }
          role-session-name: github-deploy-role
          aws-region: us-east-1
      - name: run synth
        run: |
          cdk synth
      - name: deploy stack
        run: |
          cdk deploy --all --require-approval never